# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: benswift.me
email: ben@benswift.me
author: Ben Swift
description: "livecoder & researcher homepage - code, creativity, culture"
baseurl: ""
url: "https://benswift.me"
date_format: "%b %-d, %Y"
future: true

# Build settings
markdown: kramdown
kramdown:
  toc_levels: "1..3"

highlighter: none

sass:
    sass_dir: assets/css

exclude:
  - Makefile

defaults:
  - scope:
      type: posts
    values:
      layout: post
      permalink: /blog/:year/:month/:day/:title/
  - scope:
      type: talks
    values:
      layout: reveal
  - scope:
      type: livecoding
    values:
      layout: post

collections:
  talks:
    output: true
  livecoding:
    output: true

# from paginate-v2 gem
pagination:
  enabled: true
  per_page: 10
  sort_reverse: true
autopages:
  enabled: true
  collections:
    enabled: false
  categories:
    enabled: false
  tags:
    layouts:
      - "paginated.html"
    title: 'Posts tagged with ":tag"' # :tag is replaced by the tag name
    permalink: "/blog/tag/:tag"

# jekyll-seo-tag
twitter:
  username: benswift
  card: summary

social:
  name: Ben Swift
  links:
    - https://twitter.com/benswift
    - https://www.linkedin.com/in/benjswift
    - https://github.com/benswift
    - https://keybase.io/benbalter
    - https://vimeo.com/benswift

# jekyll-scholar
scholar:
  style: assets/scholar/apa.csl
  sort_by: year
  order: descending
