<section
    {% if include.bgcol %}data-background-color="{{ include.bgcol }}"{% endif %}
    {% if include.id %}id="{{ include.id }}"{% endif %}
    {% if include.center %}class="center"{% endif %}
    data-background-image='{{ "/assets/" | append: include.image | relative_url }}'
    data-background-size='{{ include.bgsize | default: "cover" }}'
    data-background-position='{{ include.bgpos | default: "center" }}'
    role="img"
    aria-label="{{ include.alt | default ='fullscreen background image for slide' }}"
>
  {% if include.heading %}
  <h2>{{include.heading}}</h2>
  {% endif %}
</section>
