<section class="impact center" data-background-color="#262626">

  <style>
   .fin {
     font-size: 3rem;
     font-style: italic;
   }

   .contact-details {
     font-size: 1rem;
	 list-style: none;
     text-align: left;
	 margin: 0;

     /* attach to bottom(ish) */
     position: fixed;
     bottom: 5vh;
   }
  </style>

  <p class="fin">Fin</p>

  <ul class="contact-details">
	<li><a href="mailto:ben.swift@anu.edu.au">{% fa_svg fas.fa-envelope %} ben.swift@anu.edu.au</a></li>
	<li><a href="https://benswift.me">{% fa_svg fas.fa-link %} https://benswift.me</a></li>
	<li><a href="https://twitter.com/benswift" title="Ben's Twitter profile">{% fa_svg fab.fa-twitter %}&nbsp;&nbsp;benswift</a></li>
  </ul>

</section>
