<section class="center" data-background-image="{% asset 'images/talks/all/camylla-battani-AoqgGAqrLpU-unsplash.jpg' @path %}">

  <style>
   #contact-details {
	 font-size: 2.5vw;
	 font-family: monospace;
	 list-style: none;
	 display: table;
	 margin: 50vh auto 0 0;
   }

   #contact-details li {
	 background: rgba(255, 255, 255, 0.75);
	 padding: 0.2em 0.4em;
   }
  </style>

  <ul id="contact-details">

	<li style="background: rgba(255, 255, 255, 0.75); margin-bottom: 0.5em;"><a href="mailto:ben.swift@anu.edu.au">ben.swift@anu.edu.au</a></li>
	<li><a href="https://benswift.me">https://benswift.me</a></li>

  </ul>

</section>
