<section class="center" data-background-image="{% link assets/images/talks/all/camylla-battani-AoqgGAqrLpU-unsplash.jpg %}">

  <style>
   #contact-details {
	 list-style: none;
	 margin: 0;

     /* attach to bottom(ish) */
     position: fixed;
     bottom: 10vh;
   }

   #contact-details li {
	 background: rgba(255, 255, 255, 0.75);
	 padding: 0.2em 0.4em;
	 margin-bottom: 0.5em;
   }

   #contact-details a.mono {
	 font-family: monospace;
   }

  </style>

  <ul id="contact-details">
	<li><a href="mailto:ben.swift@anu.edu.au">{% fa_svg fas.fa-envelope %} ben.swift@anu.edu.au</a></li>
	<li><a href="https://benswift.me">{% fa_svg fas.fa-link %} https://benswift.me</a></li>
	<li><a href="https://twitter.com/benswift">{% fa_svg fab.fa-twitter %}&nbsp;&nbsp;benswift</a></li>
  </ul>

</section>
