<section id="title" class="center">
  <h1 class="talk-title">{{ page.title }}</h1>
  <p class="talk-name"><a href="{{ site.url }}">Dr. Ben Swift</a></p>
  <p class="talk-date">{{ page.date | date: "%d %b '%y" }}</p>

  <nav class="talk-title-navigation">
	<a chref="https://creativecommons.org/licenses/by-nc-sa/4.0/">
	  <i class="fab fa-creative-commons"></i>
	  <i class="fab fa-creative-commons-by"></i>
	  <i class="fab fa-creative-commons-sa"></i>
	  <i class="fab fa-creative-commons-nc"></i>
	</a>
	<a href="https://twitter.com/benswift"><i class="fab fa-twitter"></i>&nbsp;&nbsp;@benswift</a>
	<a href="https://github.com/benswift"><i class="fab fa-github"></i></a>
	<a href="https://vimeo.com/benswift"><i class="fab fa-vimeo"></i></a>
	<a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i></a>
  </nav>
</section>
