<section id="title" class="center">
  <h1 class="talk-title">{{ page.title | markdownify }}</h1>
  {%- if page.subtitle -%}
  <p class="talk-subtitle">{{ page.subtitle | markdownify }}</p>
  {%- endif -%}
  {% if page.author %}
  <p class="talk-name">{{ page.author }}</p>
  {% else %}
  <p class="talk-name"><a href="{{ site.url }}">Dr. Ben Swift</a></p>
  {% endif %}
  <p class="talk-date">{{ page.date | date: "%d %b '%y" }}</p>
  <p>{% include cc-link.html %}</p>

  <nav class="talk-title-navigation">
	<a href="https://twitter.com/benswift">{% fa_svg fab.fa-twitter %}</a>
	<a href="https://github.com/benswift">{% fa_svg fab.fa-github %}</a>
	<a href="https://vimeo.com/benswift">{% fa_svg fab.fa-vimeo %}</a>
	<a href="mailto:{{ site.email }}">{% fa_svg fas.fa-envelope %}</a>
  </nav>
</section>
