<header>

  <nav class="logo">
	<a href="{% link index.md %}">{{ site.title }}</a>
  </nav>

  <nav class="navigation">
	<!-- in-site navigation -->
	<a href="{% link blog.md %}">blog</a>
	<a href="{% link research.md %}">research</a>
	<a href="{% link teaching.md %}">teaching</a>
	<a href="{% link talks.md %}">talks</a>
	<a href="{% link bio.md %}">bio</a>

	<!-- social icons -->
	<a href="https://github.com/benswift"><i title="Visit benswift on GitHub" class="fab fa-github"></i></a>
	<a href="https://twitter.com/benswift"><i title="Visit benswift on twitter" class="fab fa-twitter"></i></a>
	<a href="https://vimeo.com/benswift"><i title="Visit benswift on Vimeo" class="fab fa-vimeo"></i></a>
	<a href="https://scholar.google.com/citations?user=OQdYgLEAAAAJ"><i title="Visit Ben's Google Scholar profile" class="fas fa-graduation-cap"></i></a>
	<a href="{{ site.baseurl }}/feed.xml"><i title="View RSS feed for this blog" class="fas fa-rss"></i></a>
	<a href="mailto:{{ site.email }}"><i title="Send Ben an email" class="fas fa-envelope"></i></a>
  </nav>

</header>
