<header>

  <nav class="logo" aria-label="site home">
	<a href="{% link index.md %}">{{ site.title }}</a>
  </nav>

  <nav class="navigation" aria-label="main navigation">
	<!-- in-site navigation -->
	{% assign url_components = page.url | downcase | split: '/' %}
	{% assign current = url_components[1] %}

	<a {% if current == "blog" %}class="current"{% endif %}href="{% link blog.md %}">blog</a>
	<a {% if current == "research" %}class="current"{% endif %}href="{% link research.md %}">research</a>
	<a {% if current == "teaching" %}class="current"{% endif %}href="{% link teaching.md %}">teaching</a>
	<a {% if current == "livecoding" %}class="current"{% endif %}href="{% link livecoding.md %}">livecoding</a>
	<a {% if current == "talks" %}class="current"{% endif %}href="{% link talks.md %}">talks</a>
	<a {% if current == "bio" %}class="current"{% endif %}href="{% link bio.md %}">bio</a>

	<!-- social icons -->
	<a href="https://github.com/benswift"><i title="benswift on GitHub" class="fab fa-github"></i></a>
	<a href="https://twitter.com/benswift"><i title="benswift on twitter" class="fab fa-twitter"></i></a>
	<a href="https://vimeo.com/benswift"><i title="benswift on Vimeo" class="fab fa-vimeo"></i></a>
	<a href="https://scholar.google.com/citations?user=OQdYgLEAAAAJ"><i title="Ben's Google Scholar profile" class="fas fa-graduation-cap"></i></a>
	<a href="{{ site.baseurl }}/feed.xml"><i title="RSS feed for this blog" class="fas fa-rss"></i></a>
	<a href="mailto:{{ site.email }}"><i title="send Ben an email" class="fas fa-envelope"></i></a>
  </nav>

</header>
