{% if include.link %}
{% assign link = include.link %}
{% else %}
{% assign link = page.url | prepend: site.baseurl | prepend: site.url %}
{% endif %}

{% assign qrID = link | slugify | prepend: "qrcode-" %}

<section class="center">
<script src="{% link assets/js/qrcode.min.js %}"></script>
<div id="{{ qrID }}" class="qrcode"></div>
{%- if include.showlink -%}
<p style="text-align: center;"><a href="{{ link }}">{{ link }}</a></p>
{%- endif -%}
<script>
 let qrSize = Math.min(window.innerWidth, window.innerHeight) * 0.5;
 let qrDiv = document.getElementById("{{ qrID }}");
 new QRCode(qrDiv,
            {text: "{{ link }}",
             width: qrSize,
             height: qrSize,
             colorDark : "#333",
             colorLight : "#fafafa",
             correctLevel : QRCode.CorrectLevel.H});
 // hacky page centering
 qrDiv.getElementsByTagName("img")[0].style.margin = "0 auto";
</script>
</section>
