// fonts and typography

$text-color: #333;
$background-color: #fafafa;
$highlight-color: #be2edd;
$text-grey: #777;

@import url('https://rsms.me/inter/inter-ui.css');
:root {
	font-family: "Inter UI", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.4;
	color: $text-color;
	background-color: $background-color;
}

@supports (font-variation-settings: normal) {
	:root { font-family: 'Inter UI var alt', sans-serif; }
}
