// fonts and typography

$text-color: #333;
$background-color: #fafafa;
$highlight-color: #be2edd;
$text-grey: #777;

@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400');

:root {
	font-family: "Inter UI", sans-serif;
	font-weight: 300;
	font-size: 3vmax;
	line-height: 1.4;
	color: $text-color;
	background-color: $background-color;
}

@supports (font-variation-settings: normal) {
	:root { font-family: 'Inter UI var alt', sans-serif; }
}

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.85em;
    padding: 0 0.1em;
    margin: 0;
    background-color: #ddd;
    border: 2px solid #aaa;
    border-radius: 0px;
    box-sizing: border-box;
}

// the main reveal slides div
// each slide will be in a standalone section
.reveal .slides section {
	grid-area: content;
	text-align: left;

	h1 {
		margin-top: 60vh;
		font-size: 4rem;
		font-weight: 900;
	}
	h2 {
		font-size: 2rem;
		font-weight: 900;
		margin-top: 0.6em;
		margin-bottom: 0.6em;
	}
}

// grid layout ftw

.container {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows:  8vh 90vh 2vh;
	grid-template-areas:
		"header"
		"content"
		"footer";
	overflow: hidden;
}

header {
	grid-area: header;
	background-color: #333;

	nav.logo {
		a {
			text-decoration: none;
			font-size: 1.3rem;
			font-weight: 700;
			color: $background-color;
			padding: 5vw;
			&:hover {
				color: $highlight-color;
				background-color: $background-color;
			}
		}
		margin-bottom: 15px;
	}
}


footer {
	grid-area: footer;
	background-color: #bbb;
}
