// fonts and typography

$text-color: #333;
$background-color: #fafafa;
$highlight-color: #be2edd;
$text-grey: #777;

@import url('https://rsms.me/inter/inter-ui.css');
:root {
	font-family: "Inter UI", sans-serif;
	font-weight: 400;
	font-size: 3vmax;
	line-height: 1.4;
	color: $text-color;
	background-color: $background-color;
}

@supports (font-variation-settings: normal) {
	:root { font-family: 'Inter UI var alt', sans-serif; }
}


// the main reveal slides div
.slides {
	grid-area: content;
	section {
		padding: 0 5vw;
	}
}

.pause-overlay {
	display: none;
}

// grid layout ftw

.container {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows:  8vh 90vh 2vh;
	grid-template-areas:
		"header"
		"content"
		"footer";
	overflow: hidden;
}

header {
	grid-area: header;
	background-color: #333;

	nav.logo {
		a {
			text-decoration: none;
			font-size: 1.3rem;
			font-weight: 700;
			color: $background-color;
			padding: 5vw;
			&:hover {
				color: $highlight-color;
				background-color: $background-color;
			}
		}
		margin-bottom: 15px;
	}
}


footer {
	grid-area: footer;
	background-color: #bbb;
}
