// fonts and typography

$text-color: #333;
$background-color: #fafafa;
$highlight-color: #be2edd;

@import url('https://rsms.me/inter/inter-ui.css');
:root {
	font-family: "Inter UI", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
	color: $text-color;
	background-color: $background-color;
}

@supports (font-variation-settings: normal) {
	:root { font-family: 'Inter UI var alt', sans-serif; }
}

a {
	color: $text-color;
    text-decoration: none;
	font-weight: 900;

	&:hover {
		color: $background-color;
		background-color: $text-color;

	}
	transition-property: color background-color;
	transition-duration: 0.5s;
}

strong {
	font-weight: 600;
}

// main grid layout

.container {
	display: grid;
	grid-template-columns: 100px 600px auto;
	grid-template-rows: auto;
    grid-template-areas:
		". header ."
		". main ."
		". footer .";
}

header {
	grid-area: header;
	display: flex;
	justify-content: space-between;

	padding: 2rem 0 1rem 0;

	nav.navigation {
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		* {
			padding: 0 5px;
		}
	}

	nav.logo > a {
		font-size: 1.2rem;
		text-decoration: underline $highlight-color;
	}

	a {
		font-weight: 900;
	}
}

main {
	grid-area: main;
}
footer {
	grid-area: footer;
	border-top: 1px solid darken($background-color, 40%);
	color: lighten($text-color, 30%);

	a {
		color: lighten($text-color, 30%);
		font-weight: 900;
	}
}

// general appearance
