// fonts and typography

$text-color: #333;
$background-color: #fafafa;

@import url('https://rsms.me/inter/inter-ui.css');
:root {
	font-family: "Inter UI", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
	color: $text-color;
	background-color: $background-color;
}

@supports (font-variation-settings: normal) {
	:root { font-family: 'Inter UI var alt', sans-serif; }
}

/* main grid layout */

.container {
	display: grid;
	grid-template-columns: 100px 600px auto;
	grid-template-rows: auto;
    grid-template-areas:
		". header ."
		". main ."
		". footer .";
}

header {
	grid-area: header;
	a {
		font-weight: 900;
		font-size: 1.2rem;
	}
}
main {
	grid-area: main;
}
footer {
	grid-area: footer;
}

// general appearance

a {
	color: $text-color;
    text-decoration: none;
	font-weight: 600;
	&:hover {
		color: $background-color;
		background-color: $text-color;

	}
}

