@import "./variables.scss";

// fonts and typography

@import url('https://rsms.me/inter/inter-ui.css');

// use self-hosted Courier Prime (it's not on Google fonts or anything)
@font-face {
	font-family: "Courier Prime";
	src: font-files(
		"{% asset \"fonts/courier-prime/courier-prime.ttf\" @path %}",
		"{% asset \"fonts/courier-prime/courier-prime-bold.ttf\" @path %}",
		"{% asset \"fonts/courier-prime/courier-prime-italic.ttf\" @path %}",
		"{% asset \"fonts/courier-prime/courier-prime-bold-italic.ttf\" @path %}"
	);
}

:root {
	font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	font-size: 20px;
	line-height: 1.4;
	color: $text-color;
	background-color: $background-color;
	box-sizing: border-box;
}

// advice based on https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *:before, *:after {
	box-sizing: inherit;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: "Inter UI var alt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	}
}

h1,h2,h3,p {
	padding: 0 0.8rem;
}

a {
	color: $link-color;
	text-decoration: none;
	font-weight: 900;

	&:hover {
		color: $background-color;
		background-color: $text-color;

	}
	transition-property: color, background-color;
	transition-duration: 0.5s;

	// anchor.js
	&.anchorjs-link {
		color: $highlight-color;
		&:hover {
			color: $link-color;
		}
		background-color: inherit;
	}
}

h1,h2,h3 {
	font-weight: 900;
}

strong {
	font-weight: 900;
}

code {
	font-family: "Courier Prime", "Courier", monospace;
	color: darken($highlight-color, 10%);
	background: linear-gradient(to right, lighten($highlight-color, 42%), lighten($highlight-color, 35%));
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

pre > code {
	background-color: #282c34;
	border-radius: 0;
}

// main grid layout - mobile-first

.container {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: auto;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

// navigation (useful in header, but in other places as well)

.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: $text-color;
	padding: 0 0.6rem;

	&>* {
		padding: 0.2rem;
	}

	.current {
		border-bottom: 5px solid $highlight-color;
	}

	.disabled {
		color: $text-grey;
		cursor: not-allowed;
	}
}


header {
	grid-area: header;

	padding: 2rem 0 1rem 0;

	nav.logo {
		a {
			font-size: 1.3rem;
			background: linear-gradient(to left, $highlight-color, darken($highlight-color, 15%));
			color: $background-color;
			padding: 0.4rem 0.8rem;
			&:hover {
				text-decoration: underline;
			}
		}
		margin-bottom: 15px;
	}

	a {
		font-weight: 900;
	}
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
	border-top: 1px solid $highlight-color;
	color: $text-grey;

	a {
		color: $text-grey;
		font-weight: 900;
	}
}

// posts

.post-date {
	font-style: italic;
	color: $text-grey;
}

.post-tags {
	font-style: italic;
	& > span {
		font-style: normal;
		background-color: $highlight-color;
		color: $background-color;
		padding: 0.2em;
		margin: 0 0.4em;
		display: inline-block;
	}
}

.post-excerpt {
	border-top: 1px solid $highlight-color;
}

// nice blockquotes
// from https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote {
    background-color: darken($background-color, 10%);
    border-left: 10px solid darken($background-color, 20%);
    padding: 1em 1em;
	margin: 1em 0;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: darken($background-color, 20%);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

// higlighted paragraphs

.hl-para {
    background-color: lighten($highlight-color, 40%);
    border-left: 10px solid $highlight-color;
    padding: 1em 1em;
	margin: 1em 0;
    quotes: "\201C""\201D""\2018""\2019";
}

// full-width images by default

img {
	width: 100%;
}

// for the bibliography (powered by jekyll-scholar)

.bibliography, .livecoding-bibliography {
	p {
		margin: 0.4em 0;
	}
	li+li {
		margin-top: 2em;
	}
	.date {
		font-style: italic;
		font-weight: 400;
		color: $text-grey;
	}
	.title {
		font-weight: 900;
	}
	.venue {
		font-weight: 600;
	}
}

// responsive design, y'all
@media screen and (min-width: 1000px) {
	.container {
		grid-template-columns: 1fr 800px 1fr;
		grid-template-areas:
			". header ."
			". main ."
			". footer .";
	}
	h1,h2,h3,p {
		padding: 0;
	}
	.navigation {
		padding: 0;

		&>* {
			padding: 0.4rem 0;
		}

	}
}
