@import "./variables.scss";

// fonts and typography

@import url('https://rsms.me/inter/inter-ui.css');

// use self-hosted Courier Prime (it's not on Google fonts or anything)
@font-face {
	font-family: "Courier Prime";
	src: font-files(
		"{% asset \"fonts/courier-prime/courier-prime.ttf\" @path %}",
		"{% asset \"fonts/courier-prime/courier-prime-bold.ttf\" @path %}",
		"{% asset \"fonts/courier-prime/courier-prime-italic.ttf\" @path %}",
		"{% asset \"fonts/courier-prime/courier-prime-bold-italic.ttf\" @path %}"
	);
}

:root {
	font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	font-size: 20px;
	line-height: 1.4;
	color: $text-color;
	background-color: $background-color;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: "Inter UI var alt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	}
}

a {
	color: $link-color;
	text-decoration: none;
	font-weight: 900;

	&:hover {
		color: $background-color;
		background-color: $text-color;

	}
	transition-property: color background-color;
	transition-duration: 0.5s;
}

h1,h2,h3 {
	font-weight: 900;
}

strong {
	font-weight: 900;
}

// this is largely pinched from https://css-tricks.com/snippets/css/a-guide-to-flexbox/
code {
	font-family: "Courier Prime", "Courier", monospace;
	color: darken($highlight-color, 10%);
	background: linear-gradient(to right, lighten($highlight-color, 42%), lighten($highlight-color, 35%));
    font-size: 90%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

pre > code {
	background: #282c34;
}

// main grid layout - mobile-first

.container {
	display: grid;
	grid-template-columns: 5vw 90vw 5vw;
	grid-template-rows: auto;
	grid-template-areas:
		". header ."
		". main ."
		". footer .";
}

// make cap the width of the "main" content on wider screens
@media screen and (min-width: 1000px) {
	.container {
		grid-template-columns: 1fr 800px 1fr;
	}
}

// style the grid components

.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: $text-color;

	* {
		padding: 5px;
	}
}

.nav-hidden {
	color: $text-grey;
	cursor: not-allowed;
}

header {
	grid-area: header;

	padding: 2rem 0 1rem 0;

	nav.logo {
		a {
			font-size: 1.3rem;
			font-weight: 700;
			background-color: $highlight-color;
			color: white;
			padding: 5px 10px;
			&:hover {
				color: $highlight-color;
				background-color: $background-color;
			}
		}
		margin-bottom: 15px;
	}

	a {
		font-weight: 900;
	}
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
	border-top: 1px solid $highlight-color;
	color: $text-grey;

	a {
		color: $text-grey;
		font-weight: 900;
	}
}

// posts

.post-date {
	font-style: italic;
	color: $text-grey;
}

.post + .post {
	border-top: 1px solid $highlight-color;
}

// nice blockquotes
// from https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote {
    background-color: darken($background-color, 10%);
    border-left: 10px solid darken($background-color, 20%);
    padding: 1em 1em;
	margin: 1em 0;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: darken($background-color, 20%);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

// higlighted paragraphs

.hl-para {
    background-color: lighten($highlight-color, 40%);
    border-left: 10px solid $highlight-color;
    padding: 1em 1em;
	margin: 1em 0;
    quotes: "\201C""\201D""\2018""\2019";
}

// full-width images by default

img {
	width: 100%;
}
