body { margin: 0; }

#logo {
	// layout
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 100vmin;
	height: 100vmin;
	margin: 0;

	// text
	font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 200;
	color: white;
	font-size: 10vmin;

	// reimagine branding
	background-color: #BF2F37;

	.letter, .letter-A {
		margin: auto;
		transition: transform 10s ease-in-out, font-weight 10s ease-in-out;

		&:hover {
			transform: rotate(36000deg);
			font-weight: 900;
		}
	}

	.letter-A {
		transform: rotate(-90deg);
	}
}

@supports (font-variation-settings: normal) {
	#logo {
		font-family: "Inter UI var alt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	}
}
