---
import PageLayout from "../layouts/PageLayout.astro"
---

<PageLayout title="Page not found">
  <div data-pagefind-ignore>
  <p>
    Sorry, there's nothing here. You might want to head back to the
    <a href="/">home page</a> or check out the <a href="/blog/">blog</a>.
  </p>
  </div>
</PageLayout>
