---
import PageLayout from "../layouts/PageLayout.astro"
---

<PageLayout title="Blurbs" relativePath="blurbs.md">
  <p>
    Here's a list of bios/blurbs that you could use in your glossy brochures. I'm
    open to being described/introduced in new ways, too---although if you're going
    to do that then I'd appreciate having a discussion with you about it first :)
  </p>

  <h2>General audience (short)</h2>
  <p>
    Dr. Ben Swift is an academic, educator, artist and maker of open source tools
    for creative computing and generative AI. He's a Senior Lecturer at the ANU
    School of Cybernetics, where he leads the <em>Cybernetic Studio</em>: a cybernetic
    community that makes things out of hardware/software/people/stuff to explore
    cybernetic systems/ideas and their impact on the world.
  </p>

  <h2>Academic (short)</h2>
  <p>
    Dr. Ben Swift is an interdisciplinary scholar and artist-programmer with
    interests and expertise in AI/machine learning, computational art &amp; music,
    cybernetics, data vis/data science and human-computer interaction. A unifying
    thread is the potential of <em>liveness</em> (human-in-the-loop interactivity with
    real-time feedback) in tools and workflows, especially in open-ended creative
    tasks. He's a Senior Lecturer at the ANU School of Cybernetics, where he leads
    the <em>Cybernetic Studio</em>: a cybernetic community that makes things out of
    hardware/software/people/stuff to explore cybernetic systems/ideas and their
    impact on the world.
  </p>

  <h2>Academic (long)</h2>
  <p>
    Dr. Ben Swift is an internationally-recognised interdisciplinary
    <a href="https://scholar.google.com/citations?user=OQdYgLEAAAAJ">scholar</a>, computer
    music artist and
    <a href="https://github.com/benswift">creative technologist/software engineer</a>. He's an
    expert in AI/machine learning, computational art &amp; music, computing education,
    full-stack web development, user experience (UX) design, and cybernetics.
  </p>
  <p>
    He leads the <em>Cybernetic Studio</em> at the
    <a href="https://cybernetics.anu.edu.au/">School of Cybernetics</a> at the
    <a href="https://anu.edu.au">Australian National University</a>: a cybernetic community
    that makes things out of hardware/software/people/stuff to explore cybernetic
    systems and their impact on the world.
  </p>
  <p>
    As a <a href="/livecoding/">livecoding artist</a> Ben has performed at international arts
    festivals, including the
    <a href="https://www.isea-web.org">International Symposium on Electronic Art</a> (ISEA) and
    the <a href="https://iclc.toplap.org">International Conference on Live Coding</a> (ICLC).
    Ben is a founding co-director of the
    <a href="https://comp.anu.edu.au/courses/laptop-ensemble/">ANU Laptop Ensemble</a>, an
    interdisciplinary computer music research and teaching collective.
  </p>
  <p>
    Ben is a <a href="https://github.com/benswift">maker</a> of open-source software tools for
    music, creative code, generative AI, data analysis/visualisation, and more. He's
    one half of the core development team for the
    <a href="https://github.com/digego/extempore">Extempore programming environment</a> for
    musical livecoding. Extempore's users are a worldwide community of programmers,
    artists, musicians, and data visualisation practitioners. He has more than 15
    years' experience as an OSS community manager, technical writer, software
    engineer and creative code outreach ambassador.
  </p>

  <h2>Academic (educator)</h2>
  <p>
    Dr. Ben Swift is an interdisciplinary scholar and artist-programmer with
    interests and expertise in AI/machine learning, computational art &amp; music,
    cybernetics, data vis/data science and human-computer interaction. He has
    extensive learning and teaching experience in a wide range of contexts, having
    worked across two schools at the ANU: the
    <a href="https://comp.anu.edu.au">School of Computing</a> (2012--2021) and the
    <a href="https://cybernetics.anu.edu.au">School of Cybernetics</a> (2021--present). He has
    designed, convened and taught large courses (e.g. 400+ student core COMP
    courses), innovative cross-campus electives (e.g. the ANU Laptop Ensemble), and
    extension courses (e.g. the ANU Extension "Creative Computing" H-course). He has
    been recognised for his teaching with a 2018 Vice Chancellor's Citation for
    Outstanding Contribution to Student Learning.
  </p>
  <p>
    He is a previous Associate Director (Education) and team leader for "Exec Ed"
    Learning Experiences at the School of Cybernetics. He currently leads the
    <em>Cybernetic Studio</em>: a cybernetic community that makes things out of
    hardware/software/people/stuff to explore cybernetic systems/ideas and their
    impact on the world.
  </p>

  <h2>Livecoder (short, informal)</h2>
  <p>
    Dr. Ben Swift is a livecoder and artist-programmer, perpetually struggling to
    reconcile his day job in academia with his longing to escape into the woods with
    a laptop and a solar panel and make beats with code full-time. He's one half of
    the core development team for the
    <a href="https://github.com/digego/extempore">Extempore</a> programming environment. He
    regularly
    <a href="https://vimeo.com/benswift">performs with Ushini Attanayake as <em>Funktion</em></a>.
  </p>

  <h2>Explanation of livecoding (general audience)</h2>
  <p>
    'Livecoding' is the act of programming (writing code) as a musical
    performance---in front of an audience. You can see the code being written in
    front of your eyes, and this code is making <em>all</em> the music that you can hear.
  </p>
  <p>
    It's kindof like conducting an orchestra; but instead of humans in tuxedoes, the
    'musicians' are the little bits of code that you can see being written
    on-the-fly. They follow the instructions they're given, they play the notes
    they're told to, and they never hit bum notes! They're an army of musical robot
    ninjas summoned into existence in the improvisational performance of live
    coding.
  </p>
  <p>
    So swing by and try to figure out what's going on; try and understand which
    little bits of code are triggering which sounds and notice the way that the
    music changes as the code evolves. Or if it all seems too complicated then just
    sit back, watch the pretty colours and enjoy listening to the robot ninjas as
    they play diligently and tirelessly for your listening pleasure.
  </p>

  <h2>Headshots &amp; promo images</h2>

  <p><img src="/assets/images/headshots/headshot-line-drawing.webp" alt="Ben line drawing headshot" /></p>

  <p><img src="/assets/images/headshots/headshot-pink-shirt.webp" alt="Ben headshot with a pink shirt and artwork in the background" /></p>
  <p><em>Photo: Joy Swift</em></p>

  <p><img src="/assets/images/headshots/headshot-birch.webp" alt="Ben headshot near the stairwell in the ANU Birch building" /></p>
  <p><em>Photo: Andrew Meares</em></p>

  <p><img src="/assets/images/headshots/headshot-birch-wide.webp" alt="Ben headshot (wide) near the stairwell in the ANU Birch building" /></p>
  <p><em>Photo: Andrew Meares</em></p>

  <p><img src="/assets/images/headshots/headshot-bw.webp" alt="Ben black-and-white headshot inside the ANU Birch building" /></p>
  <p><em>Photo: Andrew Meares</em></p>

  <p><img src="/assets/images/headshots/headshot-anu-tshirt.webp" alt="Ben in an ANU T-shirt" /></p>

  <p><img src="/assets/images/headshots/headshot-garden-wide.webp" alt="Ben headshot in the garden" /></p>
  <p><em>Photo: Jeanine Wong</em></p>

  <p><img src="/assets/images/headshots/headshot-autumn.webp" alt="Ben outside on the ANU campus in autumn" /></p>

  <p><img src="/assets/images/headshots/headshot-autumn-wide.webp" alt="Ben outside on the ANU campus in autumn" /></p>
</PageLayout>
