---
import HomeLayout from "../layouts/HomeLayout.astro"
---

<HomeLayout description="Ben Swift — researcher, educator, artist, developer">
  <p>
    Hi, I'm Dr. Ben Swift---I'm a <a href="/research/">researcher</a>,
    <a href="/livecoding/">artist</a> and
    <a href="https://github.com/benswift">creative technologist/software engineer</a>,
    and (among other things) I lead the Cybernetic Studio at the
    <a href="https://cybernetics.anu.edu.au/">ANU School of Cybernetics</a>.
    Sometimes I write about that stuff on my <a href="/blog/">blog</a>.
  </p>

  <p>
    I care a lot about making computing a welcoming, interesting and creatively
    satisfying place, especially for people who don't fit the traditional picture
    of a "computer scientist".
  </p>

  <p>
    If you'd like to get in touch---and please do!---you can email me at
    <a href="mailto:ben.swift@anu.edu.au">ben.swift@anu.edu.au</a>.
  </p>
</HomeLayout>
