---
import PageLayout from "../layouts/PageLayout.astro"
import Picture from "../components/Picture.astro"
---

<PageLayout title="Teaching" relativePath="teaching.md">
  <Picture file="images/pages/iot-2018-shao-kao.webp" alt="燒烤 in Beijing with the IoT@BIT study tour students" />

  <p>
    Computers are just so <em>useful</em> in all domains of human endeavour, and giving
    people the skills to do interesting things with them is really important work. I
    really enjoy it, too :)
  </p>

  <div class="custom-block info">
    <p class="custom-block-title">Info</p>
    <p>
      I'm currently on a teaching break, but I'll be back in S2 2026 with a new course:
      <a href="https://comp.anu.edu.au/study/special-topics/">COMP4020/8020: Rapid Prototyping for the Web</a>.
    </p>
  </div>

  <h2>Upcoming courses</h2>
  <ul>
    <li>
      <a href="https://comp.anu.edu.au/study/special-topics/">COMP4020/8020: Rapid Prototyping for the Web</a>
      is a <em>brand new course in S2 2026</em>. I'm currently finalising the content, but
      here's the blurb:

      <blockquote>
        LLM agents, which run tools (e.g. search the web, edit files, run code) in a
        loop to achieve a goal, offer a new workflow for developing software. This
        is especially true for application domains which are well-represented in LLM
        training sets---like the web.

        Moving beyond naive "vibecoding", this course provides a studio-based
        "iterate and test with working prototypes" approach to rapidly prototyping
        web apps. In the weekly lectures students will learn fundamental concepts
        and practical skills for harnessing an agentic AI/LLM development workflow.
        In the weekly "studio session" tutorials, students will demo their
        work-in-progress prototypes and receive feedback from peers and instructors.
        By the end of the course each student will have designed, developed and
        deployed <em>multiple</em> web apps prototypes using a rapid, feedback-driven
        process.
      </blockquote>
    </li>
  </ul>

  <h2>Past courses</h2>
  <ul>
    <li>
      <a href="https://comp.anu.edu.au/courses/laptop-ensemble/">COMP2710/6470: Laptop Ensemble</a>
      in <strong>Semester 1 (Feb--Jun)</strong> is a course open to students in computer science,
      music, art, and elsewhere at ANU (the course is co-taught with MUSI2205 in the
      <em>ANU School of Music</em>). In this course students learn fundamental skills of
      music computing, including digital synthesis, algorithmic composition, and
      musical interface design, putting these skills to use creating a computer
      musical instrument, composition, or interactive media work to present in
      concert at the end of the course.
    </li>
    <li>
      <a href="https://cs.anu.edu.au/courses/extn1019/">EXTN1019: ANU Extension Creative Computing</a>
      in <strong>Semester 1 (Feb--Jun)</strong> is a course where ACT Year 11 &amp; 12 students learn
      the fundamentals of computer programming through the creative process of
      making music and visual art.
    </li>
    <li>
      <a href="https://cs.anu.edu.au/courses/comp2300/">COMP2300/6300: Computer Organisation and Program Execution</a>
      is ANU's introductory computer architecture course, which I wrote and
      delivered from 2017--2018.
    </li>
    <li>
      <a href="https://cs.anu.edu.au/courses/comp1720/">COMP1720/6720: Art &amp; Interaction in New Media</a>
      is a course about learning to tell stories through interactive code art.
    </li>
    <li>
      The <a href="https://cs.anu.edu.au/courses/china-study-tour/">COMP2710 <em>Internet of Things</em> China Study Tour</a>
      is an in-country intensive study course conducted in partnership with the
      Beijing Institute of Technology.
    </li>
  </ul>

  <p>
    If you're a student at the ANU, then I encourage you to take one (or more!) of
    these courses---I think they're pretty great :)
  </p>

  <p>
    I also give regular <a href="/talks/">guest lectures</a> &amp; run workshops on various topics
    in my areas of expertise. If you're interested in hiring me as a speaker,
    <a href="mailto:ben.swift@anu.edu.au">get in touch</a>.
  </p>
</PageLayout>
