---
interface Props {
  id: string
  title?: string
}

const { id, title = "YouTube video" } = Astro.props
---

<div class="youtube-embed">
  <iframe
    src={`https://www.youtube-nocookie.com/embed/${id}`}
    title={title}
    width="560"
    height="315"
    allow="autoplay; encrypted-media"
    style="border: 0;"
    allowfullscreen
    loading="lazy"
  ></iframe>
</div>

<style>
  .youtube-embed {
    width: 100%;
    margin: 0 auto 1rem;
  }

  .youtube-embed iframe {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
</style>
