---
interface Props {
  id: string
  title?: string
}

const { id, title = "YouTube video" } = Astro.props
---

<div class="youtube-embed">
  <div class="youtube-embed-container">
    <iframe
      src={`https://www.youtube-nocookie.com/embed/${id}`}
      title={title}
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
      loading="lazy"
    ></iframe>
  </div>
</div>

<style>
  .youtube-embed {
    width: 100%;
    margin: 0 auto 1rem;
  }

  .youtube-embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }

  .youtube-embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
