<!DOCTYPE html>
<html>
  <head>
	{% include head.html %}
	<link rel="stylesheet" type="text/css" href='{{ "/assets/reveal.js-3.8.0/css/reveal.css" | relative_url }}'>
	<link rel="stylesheet" type="text/css" href='{{ "/assets/css/ben-reveal-theme.css" | relative_url }}'>
  </head>
  <body>
	{{ content | revealify }}

	<script src='{{ "/assets/reveal.js-3.8.0/lib/js/head.min.js" | relative_url }}'></script>
	<script src='{{ "/assets/reveal.js-3.8.0/js/reveal.js" | relative_url }}'></script>
	<script>
	 // this is the reveal config
	 Reveal.initialize({
	   center: false,
	   controls: false,
	   transition: 'fade',
	   width: '100%',
	   height: '100%',
	   margin: 0,
	   history: true,
	   slideNumber: true,

	   math: {
		 mathjax: '{{ "/assets/reveal.js-3.8.0/lib/js/MathJax-2.7.5.js" | relative_url }}',
		 config: "TeX-AMS_HTML-full"  // See http://docs.mathjax.org/en/latest/config-files.html
	   },

       dependencies: [
         { src: '{{ "/assets/reveal.js-3.8.0/plugin/chalkboard/chalkboard.js" | relative_url }}' }
       ],

       keyboard: {
         67: function() { RevealChalkboard.toggleNotesCanvas() }, // toggle notes canvas when 'c' is pressed
         66: function() { RevealChalkboard.toggleChalkboard() }, // toggle chalkboard when 'b' is pressed
         8: function() { RevealChalkboard.reset(true) } // clear chalkboard when 'DEL' is pressed
	   },

	   chalkboard: {
		 toggleChalkboardButton: false,
		 toggleNotesButton: false,
		 color: [ '#be2edd', 'rgba(255,255,255,0.5)' ]
	   }
	 });
	</script>
	{% fa_svg_generate %}
  </body>
</html>
